<!DOCTYPE html>
<html lang="en" >
<head>
   <div th:replace="shared/sharedcss"></div>
   <div th:replace="shared/sharedjs"></div>
   <div th:replace="shared/ctxpathjs"></div>
   <script th:src="@{/js/app/bpms/role/index.js}"></script>
</head>
<div class="panel-body" style="padding-bottom:0px;">

   <div id="toolbar" class="">
      <shiro:hasPermission name="role:edit">
         <button id="btn_add" type="button" class="btn btn-info">添加</button>
      </shiro:hasPermission >
      <shiro:hasPermission name="role:edit">
      <button id="btn_edit" type="button" class="btn  btn-info">编辑</button>
      </shiro:hasPermission >
      <shiro:hasPermission name="role:edit">
      <button id="btn_delete" type="button" class="btn  btn-info">删除</button>
      </shiro:hasPermission >
   </div>
   <table id="tab"></table>
</div>
</html>