
<div th:fragment="mainTab" class="row content-tabs content-tabs-c hide">
    <button class="roll-nav roll-left J_tabLeft roll-nav-c">
        <i class="fa fa-backward"></i>
    </button>
    <nav class="page-tabs J_menuTabs page-tabs-c">
        <div class="page-tabs-content">
            <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
        </div>
    </nav>
    <button class="roll-nav roll-right J_tabRight roll-nav-c">
        <i class="fa fa-forward"></i>
    </button>
    <div class="btn-group roll-nav roll-right roll-nav-c">
        <button class="dropdown J_tabClose" data-toggle="dropdown">
            关闭操作<span class="caret"></span>
        </button>
        <ul role="menu" class="dropdown-menu dropdown-menu-right">
            <li class="J_tabShowActive">
                <a>定位当前选项卡</a>
            </li>
            <li class="divider"></li>
            <li class="J_tabCloseAll">
                <a>关闭全部选项卡</a>
            </li>
            <li class="J_tabCloseOther">
                <a>关闭其他选项卡</a>
            </li>
        </ul>
    </div>
    <a th:href="@{/logout}" class="roll-nav roll-right J_tabExit roll-nav-c"><i class="fa fa fa-sign-out"></i> 退出</a>
</div>
<div th:fragment="mainContent" class="row J_mainContent" id="content-main">
    <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="home" frameborder="0" data-id="index_v1.html" seamless=""></iframe>
</div>
