<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>事项</title>
    <!--全局样式-->
    <div th:replace="shared/sharedcss"></div>
    <link th:href="@{/css/bpms/matter-common/index.css}" rel="stylesheet"/>
    <!-- 全局js -->
    <div th:replace="shared/sharedjs"></div>
    <div th:replace="shared/ctxpathjs"></div>
    <div th:replace="shared/ctxpathjs"></div>
</head>
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">
                    <span >启动流程</span>
                    <span th:text="${count}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</html>

