<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>请假申请</title>

    <!--全局样式-->
    <div th:replace="shared/sharedcss"></div>

    <!-- 全局js -->
    <div th:replace="shared/sharedjs"></div>
    <div th:replace="shared/ctxpathjs"></div>
    <script th:src="@{/js/app/bpms/qjprocess/add.js}"></script>

</head>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="resumeForm" class="form-horizontal m-t"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">*申请人：</label>
                            <div class="col-sm-4">
                                <input id="applicantName" name="applicantName" type="text" th:value="${applicantName}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述：</label>
                            <div class="col-sm-6">
                                <input id="description" name="description" type="text" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-5">
                                <button id="addSave" name="addSave" class="btn btn-info" type="button">提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</html>


