<!DOCTYPE html>
<html lang="en">
<head>
    <!--全局样式-->
    <div th:replace="shared/sharedcss"></div>

    <!-- 全局js -->
    <div th:replace="shared/sharedjs"></div>
    <div th:replace="shared/ctxpathjs"></div>


    <!-- 自定义js -->
    <script th:src="@{/js/hplus/hplus.js?v=4.1.0}"></script>
    <script th:src="@{/js/hplus/contabs.js}"></script>

    <!-- 第三方插件 -->
    <script th:src="@{/js/hplus/plugins/pace/pace.min.js}"></script>
</head>

<body class="gray-bg">


<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>
                    <span text="欢迎 "></span>
                    <span id="spanSysUserName" th:text="${user.name}"></span>
                </h5>
                <div class="ibox-tools" th:text="${nowDate} + ' ' + ${week}">
                </div>
            </div>
            <div class="ibox-content">
                <div class="well">
                    <h3>
                        基本信息
                    </h3>
                    <br/>
                    <div class="row">
                        <div class="col-sm-2 control-label">登录名称：</div>
                        <div class="col-sm-3" th:text="${user.accountNumber}"></div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-2 control-label">电话：</div>
                        <div class="col-sm-3" th:text="${user.phone}"></div>
                        <div class="col-sm-2 control-label">E-Mail：</div>
                        <div class="col-sm-3" th:text="${user.email}"></div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-sm-2 control-label">创建时间：</div>
                        <div class="col-sm-3" th:text="${#dates.format(user.createTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    $(function () {
        $('#sysUserName', window.parent.document).html($("#spanSysUserName").text());
    });
</script>