<!-- 全局js文件2 -->
<script th:src="@{/js/lib/jquery.min.js}"></script>
<script th:src="@{/js/lib/bootstrap.min.js?v=3.3.6}"></script>
<script th:src="@{/js/hplus/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/hplus/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/js/lib/bootstrap-table.min.js}"></script>
<script th:src="@{/js/lib/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/js/lib/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/js/lib/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:src="@{/js/lib/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/lib/bootstrap-select.js}"></script>
<script th:src="@{/js/hplus/plugins/layer/layer.js}"></script>
<script th:src="@{/js/hplus/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/hplus/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/hplus/plugins/suggest/bootstrap-suggest.min.js}"></script>
<script th:src="@{/js/hplus/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>
<script th:src="@{/js/common/common.js}"></script>
<script th:src="@{/js/lib/bootstrap-treeview.js}"></script>
<script th:src="@{/js/lib/fileinput.min.js}"></script>
<script th:src="@{/js/lib/fileinput-locale-zh.js}"></script>
<script th:src="@{/js/lib/fileinput-theme.js}"></script>
<script th:src="@{/js/lib/moment.min.js}"></script>
<script th:src="@{/js/lib/fullcalendar.min.js}"></script>
<script th:src="@{/js/lib/jquery.bigcolorpicker.min.js}"></script>





