<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="shared/sharedcss"></div>
    <div th:replace="shared/sharedjs"></div>
    <div th:replace="shared/ctxpathjs"></div>
    <script th:src="@{/js/app/bpms/bond/index.js}"></script>
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">

                <div class="ibox-title">
                    <div class="col-sm-10 text-left">
                        <span class="tmp-head">项目管理</span>
                        <button class="btn btn-blue " type="button" id="btnBondAdd">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;
                            <span class="bold">新增项目</span>
                        </button>
                    </div>
                    <div id="divDownExcel" class="col-sm-2 glyphicon glyphicon-share cursor-pointer">
                        导出
                    </div>
                </div>

                <div class="ibox-content">

                    <div class="form-group col-sm-12">
                        <div class="col-sm-2">
                            <input type="text" id="txt_search_name" class="form-control" placeholder="债券代码、简称、发行人" />
                        </div>

                        <label class="control-label col-sm-1 label-top-5 text-right">地域：</label>
                        <div class="col-sm-3">
                            <div class="col-sm-12 input-daterange input-group">
                                <div class="col-sm-6">
                                    <select id="drop_search_province" name="type" class="form-control" tabindex="2">
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select id="drop_search_city" name="type" class="form-control" tabindex="2">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <label class="control-label col-sm-1 label-top-5 text-right">上市场所：</label>
                        <div class="col-sm-2">
                            <select id="drop_search_listedPlace" multiple="multiple" class="selectpicker" tabindex="2" data-style="btn-white">
                                <option value="MP01-上海证券交易所">MP01-上海证券交易所</option>
                                <option value="MP02-深圳证券交易所">MP02-深圳证券交易所</option>
                                <option value="MP03-银行间市场">MP03-银行间市场</option>
                                <option value="MP04-全国中小企业股份转让系统">MP04-全国中小企业股份转让系统</option>
                                <option value="MP05-机构间私募产品报价与服务系统">MP05-机构间私募产品报价与服务系统</option>
                                <option value="MP06-证券公司柜台转让">MP06-证券公司柜台转让</option>
                                <option value="MP99-其他">MP99-其他</option>
                                <option value="9999-信息缺失">9999-信息缺失</option>
                            </select>
                        </div>

                        <div class="col-sm-3 text-right commonSearch">
                            <button type="button" name="btn_query" class="btn btn-primary">查询</button>
                            <input type="checkbox" name="cbxAdvanced" />高级搜索
                        </div>
                    </div>

                    <div class="form-group col-sm-12 advancedSearch">

                        <label class="control-label col-sm-1 label-top-5 text-right">债券类型：</label>
                        <div class="col-sm-2">
                            <select id="drop_search_type" multiple="multiple" class="selectpicker" tabindex="2" data-style="btn-white">
                                <option value="企业债">企业债</option>
                                <option value="FB07-政策性金融债">FB07-政策性金融债</option>
                                <option value="CB030-公募公司债">CB030-公募公司债</option>
                                <option value="CB031-私募公司债">CB031-私募公司债</option>
                                <option value="CB05-分离交易的可转换公司债">CB05-分离交易的可转换公司债</option>
                                <option value="CB04-普通可转换公司债">CB04-普通可转换公司债</option>
                                <option value="ABS02-企业资产支持证券">ABS02-企业资产支持证券</option>
                                <option value="ABS01-信贷资产支持证券">ABS01-信贷资产支持证券</option>
                            </select>
                        </div>

                        <label class="col-sm-1 control-label label-top-5 text-right">项目人员：</label>
                        <div class="col-sm-2">
                            <select id="drop_search_user" tabindex="2" multiple="multiple" class="selectpicker" data-style="btn-white">
                                <option th:each="user,userStat:${userList}" th:value="${user.id}" th:text="${user.name}"></option>
                            </select>
                        </div>

                        <label class="col-sm-1 control-label label-top-5 text-right">起息日：</label>
                        <div class="col-sm-5">
                            <div class="input-daterange input-group">
                                <input type="text" id="txt_search_valueDateBegin" name="txt_search_valueDateBegin" class="input-sm form-control dpicker" value="" />
                                <span class="input-group-addon">到</span>
                                <input type="text" id="txt_search_valueDateEnd" name="txt_search_valueDateEnd" class="input-sm form-control dpicker" value="" />
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-sm-12 advancedSearch">

                        <label class="col-sm-1 control-label label-top-5 text-right">兑付：</label>
                        <div class="col-sm-5">
                            <div class="input-daterange input-group date form_datetime">
                                <input type="text" id="txt_search_payDayBegin" name="txt_search_payDayBegin" class="form-control c-disable" value="" data-date-format="yyyy年" />
                                <span class="input-group-addon">到</span>
                                <input type="text" id="txt_search_payDayEnd" name="txt_search_payDayEnd" class="form-control c-disable" value="" data-date-format="yyyy年" />
                            </div>
                        </div>

                        <label class="control-label col-sm-1 label-top-5 text-right">期限：</label>
                        <div class="col-sm-5">
                            <div class="input-daterange input-group">
                                <input type="text" id="txt_search_timeLimitBegin" name="txt_search_timeLimitBegin" class="form-control" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/>
                                <span class="input-group-addon">到</span>
                                <input type="text" id="txt_search_timeLimitEnd" name="txt_search_timeLimitEnd" class="form-control" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 advancedSearch">

                        <label class="control-label col-sm-1 label-top-5 text-right">担保：</label>
                        <div class="col-sm-2">
                            <input id="txt_search_guaranteeCompany" type="text" class="form-control"/>
                        </div>

                        <label class="control-label col-sm-1 label-top-5 text-right">受托管理：</label>
                        <div class="col-sm-2">
                            <select id="drop_search_managerType" name="drop_search_managerType" class="form-control" tabindex="2">
                                <option value="" selected="selected">全部</option>
                                <option value="0">天风</option>
                                <option value="1">非天风</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input id="txt_search_bondManager" type="text" class="form-control"/>
                        </div>

                        <div class="col-sm-4 text-right">
                            <button type="button" name="btn_query" class="btn btn-primary">查询</button>
                            <input type="checkbox" name="cbxAdvanced" />高级搜索
                        </div>
                        <input type="hidden" id="hidManager" th:value="${ismanager}"/>
                    </div>

                    <table id="tabBond" style="table-layout:fixed;"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>