<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innodealing.bpms.mapper.ExceptionProcessMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into bpms_exception_process (type, process_id, matter_id, template_id,rule_id,custom_id,status) values
            (#{type},#{processId}, #{matterId}, #{templateId}, #{ruleId},#{customId},0)
    </insert>
</mapper>