<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innodealing.bpms.mapper.HolidayMapper">

    <select id="findIsHoliday" resultType="Integer">
          SELECT  is_holiday FROM `bpms_is_holiday` WHERE `date`=#{date}
    </select>

    <select id="findAll" resultType="IsHoliday">
        SELECT * FROM bpms_is_holiday ORDER BY date
    </select>

    <select id="findByYear" resultType="IsHoliday">
        SELECT * FROM bpms_is_holiday WHERE year&gt;=#{year} ORDER BY date
    </select>

</mapper>