<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innodealing.bpms.mapper.ProcessInfoMapper">

    <resultMap id="processInfoResultMap" type="ProcessInfo">
        <result property="id" column="id"/>
        <result property="processId" column="process_id"/>
        <result property="type" column="type"/>
        <result property="companyName" column="company_name"/>
        <result property="bondCode" column="bond_code"/>
        <result property="bondShortname" column="bond_shortname" />
        <result property="name" column="name" />
        <result property="subName" column="sub_name" />
        <result property="subBeforeDay" column="sub_before_day" />
        <result property="subCompleteBeforeDay" column="sub_complete_before_day" />
        <result property="mailFrequency" column="mail_frequency" />
        <result property="autoRelate" column="auto_relate" />
        <result property="mailBeforeDay" column="mail_before_day" />
        <result property="mailUser" column="mail_user" />
        <result property="content" column="content" />
        <result property="rightLineContent" column="right_line_content" />
        <result property="confirm" column="confirm" />
        <result property="remindDate" column="remind_date" />
        <result property="completeDate" column="complete_date" />
        <result property="shortname" column="shortname" />
        <result property="description" column="description" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>

        <collection property="processAttachmentList" ofType="ProcessAttachment">
            <id property="id" column="attachment_id"/>
            <result property="processId" column="attachment_process_id"/>
            <result property="type" column="attachment_type"/>
            <result property="name" column="attachment_name"/>
            <result property="url" column="attachment_url"/>
            <result property="description" column="attachment_description"/>
            <result property="createTime" column="attachment_create_time"/>
        </collection>
        <collection property="processTemplateAttachmentList" ofType="ProcessTemplateAttachment">
            <id property="id" column="template_attachment_id"/>
            <result property="processId" column="template_attachment_process_id"/>
            <result property="type" column="template_attachment_type"/>
            <result property="name" column="template_attachment_name"/>
            <result property="url" column="template_attachment_url"/>
            <result property="description" column="template_attachment_description"/>
            <result property="createTime" column="template_attachment_create_time"/>
        </collection>
    </resultMap>
    <delete id="deleteByCompanyName">
        DELETE FROM bpms.bpms_process_info where company_name = #{companyName}
    </delete>

    <select id="findAll" resultMap="processInfoResultMap">
        SELECT t1.*,
          t2.id attachment_id,t2.process_id attachment_process_id,t2.type attachment_type,t2.name attachment_name,t2.url attachment_url,t2.description attachment_description,t2.create_time attachment_create_time
        FROM bpms_process_info t1 JOIN bpms_company company ON t1.company_name=company.name AND company.status=0
        LEFT JOIN bpms_process_attachment t2 ON t1.process_id=t2.process_id
        WHERE t1.status=32
        <if test="companyId != null and companyId != ''">
            AND company.id=#{companyId}
        </if>
        <if test="processType != null and processType != ''">
            AND t1.type=#{processType}
        </if>
        <if test="processName != null and processName != ''">
            AND (t1.bond_code like '%' #{processName} '%' OR t1.bond_shortname like '%' #{processName} '%' OR t1.name like '%' #{processName} '%')
        </if>
        <if test="stime != null and stime != ''">
            AND t1.update_time &gt;= #{stime}
        </if>
        <if test="etime != null and etime != ''">
            AND t1.update_time &lt;= DATE(#{etime})
        </if>
    </select>

    <select id="findByBond" resultMap="processInfoResultMap">
        SELECT t1.*,
        t2.id attachment_id,t2.process_id attachment_process_id,t2.type attachment_type,t2.name attachment_name,t2.url attachment_url,t2.description attachment_description,t2.create_time attachment_create_time
        FROM bpms_process_info t1 JOIN bpms_bond bond ON t1.bond_code=bond.code AND bond.status!=4
        LEFT JOIN bpms_process_attachment t2 ON t1.process_id=t2.process_id
        WHERE t1.status=32
        <if test="processName != null and processName != ''">
            AND t1.name like '%' #{processName} '%'
        </if>
        <if test="processType != null and processType != ''">
            AND t1.type=#{processType}
        </if>
        <if test="bondCode != null and bondCode != ''">
            AND t1.bond_code=#{bondCode}
        </if>
        <if test="stime != null and stime != ''">
            AND t1.update_time &gt;= #{stime}
        </if>
        <if test="etime != null and etime != ''">
            AND t1.update_time &lt;= DATE(#{etime})
        </if>
    </select>

    <insert id="insertProcessInfo" useGeneratedKeys="true" keyProperty="id">
        insert into bpms_process_info (process_id, type,company_name,bond_code,bond_shortname, name,shortname,description,color,content,confirm,mail_user,mail_frequency,remind_date,complete_date,notice_flag,status) values
        <foreach item="item" collection="list" separator=",">
            (#{item.processId},#{item.type}, #{item.companyName},#{item.bondCode},#{item.bondShortname},#{item.name}, #{item.shortname}, #{item.description},
            #{item.color},#{item.content},#{item.confirm},#{item.mailUser},#{item.mailFrequency},#{item.remindDate},#{item.completeDate},0,0)
        </foreach>
    </insert>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into bpms_process_info (process_id, type,company_name,bond_code,bond_shortname, name,sub_name,sub_before_day,sub_complete_before_day,shortname,description,color,content,right_line_content,confirm,mail_user,mail_before_day,mail_frequency,auto_relate,remind_date,complete_date,notice_flag,status) values
            (#{processId},#{type}, #{companyName},#{bondCode},#{bondShortname},#{name},#{subName},#{subBeforeDay},#{subCompleteBeforeDay}, #{shortname}, #{description},
            #{color},#{content},#{rightLineContent},#{confirm},#{mailUser},#{mailBeforeDay},#{mailFrequency},#{autoRelate},#{remindDate},#{completeDate},0,0)
    </insert>
    <!--Update-->
    <update id="updateProcessInfo" parameterType="ProcessInfo">
        UPDATE bpms_process_info SET
        status= #{status},
        content=#{content},
        right_line_content=#{rightLineContent},
        update_time=NOW()
        WHERE process_id=#{processId}
    </update>
    <!--Update-->
    <update id="updateCheckProcessInfo" parameterType="ProcessInfo">
        UPDATE bpms_process_info SET
        reason= #{reason},
        status= #{status},
        update_time=NOW()
        WHERE process_id=#{processId}
    </update>
    <update id="updateHandleProcessInfo" parameterType="ProcessInfo">
        UPDATE bpms_process_info SET
        status= #{status},
        mark = #{mark},
        update_time=NOW()
        WHERE process_id=#{processId}
    </update>
    <!--Update-->
    <update id="updateProcessInfoStatus" parameterType="ProcessInfo">
        UPDATE bpms_process_info SET
        status= #{status},
        update_time=NOW()
        WHERE process_id=#{processId}
    </update>

    <select id="findByProcessId" resultType="ProcessInfo">
        SELECT * from bpms_process_info where process_id=#{processId}
    </select>

    <update id="updateNoticeFlag">
        UPDATE bpms_process_info SET
        notice_flag= #{1},
        update_time=NOW()
        WHERE process_id=#{0}
    </update>


    <select id="findMailProcessInfo" resultMap="processInfoResultMap">
          SELECT a.*,c.id as template_attachment_id,
          c.process_id as template_attachment_process_id,
          c.type as template_attachment_type,
          c.name as template_attachment_name,
          c.url as template_attachment_url,
          c.description as template_attachment_description,
          c.create_time as template_attachment_create_time
          FROM bpms_process_info a
            INNER JOIN bpms_survive_process b
            ON a.process_id=b.process_id
            left join `bpms_process_template_attachment` c
            ON a.process_id=c.process_id
           WHERE  a.status IN (2,8) AND b.order_index=0
    </select>
    <select id="findRightLIneMailProcessInfo" resultMap="processInfoResultMap">
        SELECT a.*,c.id as template_attachment_id,
        c.process_id as template_attachment_process_id,
        c.type as template_attachment_type,
        c.name as template_attachment_name,
        c.url as template_attachment_url,
        c.description as template_attachment_description,
        c.create_time as template_attachment_create_time
        FROM bpms_process_info a
        INNER JOIN bpms_survive_process b
        ON a.process_id=b.process_id
        left join `bpms_process_template_attachment` c
        ON a.process_id=c.process_id
        WHERE  a.status IN (2,8) AND b.order_index!=0
    </select>

    <select id="findByBondCode" resultMap="processInfoResultMap">
        SELECT  * FROM bpms_process_info WHERE bond_code=#{bondCode} AND `status`&lt;32
    </select>
    <select id="findByTaskId" resultMap="processInfoResultMap">
        SELECT a.*,
          c.id as template_attachment_id,
          c.process_id as template_attachment_process_id,
          c.type as template_attachment_type,
          c.name as template_attachment_name,
          c.url as template_attachment_url,
          c.description as template_attachment_description,
          c.create_time as template_attachment_create_time
         FROM bpms_process_info a INNER JOIN activiti_process.`act_hi_taskinst` b
        ON a.process_id=b.PROC_INST_ID_
         LEFT JOIN `bpms_process_template_attachment` c
            ON a.process_id=c.process_id
        WHERE b.ID_=#{taskId}
    </select>
</mapper>